Flask>=1.0.0
Flask-API>=1.0
prometheus_client>=0.3.0
w1thermsensor>=1.0.5
flask-cors
python-crontab>=2.3.5
Adafruit_DHT
adafruit-circuitpython-seesaw
gitpython
dbus-python
uwsgi
docker
twisted
wpa_supplicant
pyHS100