[Unit]
Description=Node Exporter

[Service]
User={{ node_exporter_user }}
EnvironmentFile=/etc/node_exporter/node_exporter
ExecStart=/usr/local/bin/node_exporter $OPTIONS
Restart=always

[Install]
WantedBy=multi-user.target