[Unit]
Description=Observer Appliance
After=network.target

[Service]
User={{ observer_user }}
WorkingDirectory={{ observer_appdir }}
ExecStart={{ observer_basedir }}/venv/bin/uwsgi --ini {{ observer_configdir }}/observer.ini

[Install]
WantedBy=multi-user.target