[Unit]
Description=Node Exporter
After=zero-appliance.service

[Service]
User=pi
ExecStart=/usr/bin/python /home/pi/zero-appliance/exporter.py

[Install]
WantedBy=multi-user.target